<?xml version="1.0" encoding="UTF-8"?>
<xml id="edit001" type="editor">
  <ccategory>表格</ccategory>
  <title>表格樣版14</title>
  <description>
    條列式表格，綠色系間隔
  </description>  
  <img id="thumb" src="tp14.gif"/>
  <assets>
    <file id="control" href="editor.html"/>
    <file id="css" href="style.css"/>
  </assets>
</xml>