




@media (min-width: 992px) {
}
@media (min-width: 1680px) {
}
@media (max-width: 1800px) {
    /*課程*/
    .course-table-container {
        overflow-x: auto;
    }


    .course-table th,
    .course-table td {
        padding: 10px 4px;
        font-size: 0.85rem; 
    }

 
    .th-seq, .td-seq {
        width: 5%;
    }

    .th-name, .td-name {
        width: 23%;
    }

    .th-org, .td-org {
        width: 20%;
    }

    .th-date, .td-date {
        width: 17%;
    }

    .th-city, .td-city {
        width: 8%;
    }

    .th-contact, .td-contact {
        width: 12%;
    }

 
    .th-link, .td-link {
        width: 15%;
        padding-left: 2px;
        padding-right: 2px;
    }

 
    .btn-course-link {
        display: inline-block;
        padding: 6px 8px;
        font-size: 0.8rem;
        white-space: nowrap;
    }
    /*課程end*/

    .column_box .item .tit {
        width: 80%;
    }
    .prom .indu_box {
        padding: 20px;
     
    }
    .item .item_box .tit {
        padding: 0 20px 20px;
    }
    .ab_list3 .tit {
        left: 5%;
     
    }
    .ab_list1 .tit p {
        width:40%;
        
    }
    .main-title {
        padding-left: 5%;
    }
    .s_meu_lk {
        right: 5%;
    }
    .video .sele_video {
        padding: 40px 5% 20px;
    }
    .s_round_3 {
        width: 15%;
    }
    .banner_section .slick-play-pause-btn {
        bottom: -11%;
        right: 7%;
    }
    .breadcrumb {
        padding: 20px 5% 10px;
    }
    .main > .container-fluid {
        padding: 0 5%;
    }
    .header .navbar {
        padding: 0 20px;
    }
        .header .navbar .collapse ul.navbar-nav > li > a {
            padding: 10px 15px 10px;
        }
    .home .banner_home .item {
        left: 20px;
     
    }
    .block_box {
        padding: 0 5%;
    }
    .home_industry .home_industry_box {
        padding: 180px 5% 90px;
    }
    .footer-container {
        padding: 0 20px;
    }
    .footer .footer-top {
        padding: 150px 20px 40px;
      
    }
    .home_industry_box .slick-initialized .slick-slide {
        margin: 0 2px;
    }
}

@media (max-width: 1199px) {
    .matching_sear .input-group {
        width: 60%;
    }
   

    .support_box .d-flex .support_er {
        padding: 20px;
      
    }


    .dow-prove .dow-prove_1 a p {
        font-size: 0.875rem;
    }
    .ab_list3 {
        padding: 0 0;
    }
    .item .item_box .tit {
        padding: 0 18px 15px;
    }
    .banner_section .slick-play-pause-btn {
        bottom: -14%;
        right: 6%;
    }
 
   
    .sitemap_box .sitmp_fx .unit_col ul.unit_links {
        padding-left: 60px;
    }
    .sitemap_box .sitmp_fx .unit_col .icon_circle i {
        font-size: 1.2rem;
    }
    .sitemap_box .sitmp_fx .unit_col .icon_circle {
        width: 50px;
        height: 50px;

    }
    .sitemap_box .sitmp_fx .unit_col {
        padding: 0px;
    }
    .wid-video .video-card .pic:before {
        width: 98px;
        height: 92px;
        background-size: cover;
    }

    .navbar .navbar-brand {
        width: 177px;
        height: 48px;
        background-size: cover;
    }
    .home .banner_home .item h2 {
        font-size: 5rem;
    }
    .home .banner_home .item {
        left: 5%;
    }
    .copyright-group {
        width: 45%;
      
    }
    .small-btn-box a.btn-light {
        font-size: 0.875rem;
        padding: 8px 10px;
    }
    .header .navbar .collapse ul.navbar-nav > li > a {
        padding: 10px 6px 10px;
        font-size: 1rem;
    }
}



@media (max-width: 991px) {
    .matching_sear .input-group {
        width: 40%;
    }
    .supp_five .d-flex {
        gap: 20PX 20px;
      flex-wrap:wrap;
    }
    .supp_five .d-flex a {
        width: calc((100% - 60px) / 3);
    
    }
    .contribute_box a .con-arrow img{
        width:50%;
    }
    .contribute_box a i {
        font-size: 2rem;
    }
    .contribute_box a {
        font-size: 1rem;
        padding: 20px 10px;
  
    }
    .member .frame-small-box {
        width: 100%;
    }
  
    /*關於我們*/
    .title-wrap_md {
        position: absolute;
        left: 20px;
        top: 2%;
        z-index: 10;
    }
  
    .milestone-section {
        display: flex !important;
        flex-direction: row !important;
        height: auto !important;
        min-height: auto;
        overflow: visible !important;
        padding: 0 16px 80px 16px;
        background-color: #f2f7fc;
        padding: 100px 20px 0;
    }

 
    .axis-line {
        display: block !important;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 8%;
        width: 1px;
        z-index: 1;
    }


    .fixed-left {
        position: sticky !important;
        top: 0;
        width: 8% !important;
        height: auto !important;
        flex-shrink: 0;
        display: flex !important;
        flex-direction: column;
        justify-content: center; 
        align-items: flex-end;
        padding: 0 10px 0 0 !important;
        box-sizing: border-box;
        z-index: 5;
    }

  
        .fixed-left .title-wrap,
        .fixed-left  .year-fixed-display {
            display: none !important;
        }

 
    .elevator-box {
        display: block !important;
        width: 65px;
        margin-right: -24px;
        transform: unset;
        position: sticky;
        top: 0;
        left: 4.7%;
        height: 50px;
        top: 23vh;
        z-index: 10;
        margin-top: 30px;
        align-self: unset;
    }

        .elevator-box svg {
            display: block;
            width: 100%;
            height: auto;
        }

  
    .indicator-pointer {
        display: block !important;
        position: sticky !important;
        left: 7%;
        margin-left: -4px;
        background-color: #0066cc;
        border-radius: 50%;
        z-index: 10;
        top: 20vh;
    }

        .indicator-pointer::after {
            display: none; 
        }

  
    .right-viewport {
        width: 72% !important;
        height: auto !important;
        overflow: visible !important;
        box-sizing: border-box;
    }


    .history-list {
        position: static !important;
        width: 100% !important;
        padding: 0 0 0 0 !important;
        transform: none !important;
        transition: none !important;
    }

 
    .history-item {
        margin-bottom: 30px;
        opacity: 1 !important; 
    }

    .card-title {
        font-size: 22px;
        font-weight: 700;
        color: #0066cc;
        margin: 0 0 14px 0;
    }

    .card-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    


    /*關於我們END*/

    .side1 .side1_news ul li a {
        padding: 15px 15px !important;
    }
    .column_box .item .tit a .tit_nsl ul li {
        font-size: 0.875em;
    }
    .side2 .side2_new .column_box .ranking {
        width: 30px;
        height: 30px;
        font-size: 0.875rem;
        left: -15px;
        top: -14px;
    }
    .side2 .side2_new .column_box .item .tit h3 {
        font-size: 1rem;
    }
    .tit_three {
        gap: 0 10px;
    }
    .tag-wrap .badge-tag,
    .column_box .tit_three .date,
    .column_box .tit_three .time {
        font-size: 0.875rem;
    }
    .column_box .item .tit {
        width: 75%;
      
    }
    .column_box .item .pic {
        width: 25%;
   
    }
    .column_box .item .tit a .tit_nsl {
        padding-right: 0px;
    }
    .search .d-flex .form-group {
        width: 40%;
    }
    .marquee-track span {
        font-size: 5rem;
  
    }
    .sitemap_box .sitemap_card .icon_wrap  i{
        width: 70px;
        height: 70px;
   
    }
    .sitemap_box .sitmp_fx .unit_col:nth-child(3),
    .sitemap_box .sitmp_fx .unit_col:nth-child(6) {
        border-right:none;
    }
    .sitemap_box .sitmp_fx .unit_col:nth-child(5),
    .sitemap_box .sitmp_fx .unit_col:nth-child(6) {
        border-bottom: 1px solid #cccccc;
    }
    .sitemap_box .sitmp_fx .unit_col:nth-child(4) {
        border-right: 1px solid #cccccc;
    }
    .sitemap_box .sitmp_fx .unit_col {
        width: calc((100% - 20px) / 3);
       
    }
    .footer .footer-top .footer_left{
        margin-bottom:20px;
    }
    .footer .footer-top .footer_right,
    .footer .footer-top .footer_left {
        width: 100%;
    }
    .footer .footer-top > .d-flex {
        flex-wrap: wrap;
    }
    .home_service ul.nav-pills .nav-link .d-flex span {
        text-align: center;
    }
    .footer-brand {
        flex: 100%;
    }
    .footer-main {
      flex-wrap:wrap;
    }
        .home_industry .home_industry_top:before {
        top: -55%;
    }
    .home_industry .home_industry_top {
        padding: 30px 0 30px 8%;
        bottom: -110px;
    }
    .home_enterprise_box .tit .news-arrow {
        width: 42px;
        height: 42px;
    
    }
    ul.ul-key li a {
        font-size: 0.75rem;
        padding: 4px 6px;
    
    }
    .ser_box .tit p {
        font-size: clamp(1rem, 3vw, 1rem);
     
    }
    .home_about p.desc {
        font-size: clamp(1.25rem, 3vw, 1.25rem);
    }
    .home_service ul.nav-pills .nav-link .d-flex i img {
        width: 80%;
        margin: 0 auto;
    }
    .home_service ul.nav-pills .nav-link .d-flex {
        flex-direction: column;
    }

    .home_about .tit_right {
        width: 60%;
    }
    .header .navbar .collapse ul.navbar-nav > li > a {
        padding: 10px 10px 10px;
    }
    .navbar .navbar-brand {
        width: 227px;
        height: 62px;
        background-size: cover;
    }
        .header .navbar {
        padding: 0 20px 10px;
    }
    .bsnav-mobile.in .bsnavclose.close-btn {
        transform: scale(1);
    }
    .header .navbar > .container-fluid {
        flex-wrap: wrap;
        padding: 0;
    }
    .header .navbar > .container-fluid .nav-brand-wrapper {
        width: 100%;
    }
    .navbar .navbar-brand {
        margin: 10px auto 0;
    }
    .home .banner_home .item {
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    .side2 .side2_new .column_box .ranking {
        width: 40px;
        height: 40px;
        font-size: 1rem;
    
    }
    .page-box .pagination .page-link {
        min-width: 30px;
        height: 30px;
        font-size: 0.875rem;
    }
    .page-box .pagination {
        gap: 0;
  
    }
    .column_box > .item {
        margin-bottom: 20px;
  
    }
    .column_box .item .tit .news-arrow {
     display:none;
    }
    .tag-wrap .badge-tag {
        padding: 3px 6px;
    }
    .column_box .tit_three .time i{
        font-size:0.875rem;
    }
    .column_box .tit_three .time {
        padding: 2px 4px;
    }
    .column_box .item .tit {
        padding-left: 0;
        margin-top:20px;
    }
    .column_box .item .tit,
    .column_box .item .pic {
        width: 100%;
    }
    .column_box > .item .d-flex {
        flex-wrap:wrap;
    }
    .main .content,
    .main .side2 {
        width: 100%;
    }
    .xr_h span:before {
        width: 64px;
        height: 10px;
        right: -10px;
    }
    .xr_h span:after {
        width: 64px;
        height: 10px;
        left: 0;
    }
    .xr_h span {
        font-size: 1.5rem;
        padding: 0 70px;
      
    }
    .sitemap_box .sitemap_card {
        margin-bottom: 50px;
    }
    .sitemap_box .sitmp_fx .unit_col:nth-child(4),
    .sitemap_box .sitmp_fx .unit_col {
        border-right: none;
    }
    .sitemap_box .sitmp_fx .unit_col {
        width:100%;
    }

  
    .sitemap_box .sitemap_card .card_title {
        text-align: center;
    }
 
    .new_box .news-content .title {
        font-size: 1.25rem;
    }
    .home_service ul.nav-pills .nav-link .d-flex span {
        font-size: 1rem;
     
    }
 
    .ser_box .tit h3 {
        width: 100%;
    }
    .ser_box .tit .d-flex ul {
        width: 100%;
        justify-content: flex-start;
    }
    .ser_box .tit .d-flex {
        flex-wrap: wrap;
    }
    .home_enterprise_box .tit h3 {
        font-size: 1.25rem;
    
    }
    .wid-video .video-card h3 {
        font-size: 1.25rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        white-space: unset;
    }
    .wid-video .video-card .pic:before {
        width: 58px;
        height: 62px;
        background-size: cover;
    }
    .home_enterprise_box .tit .news-arrow {
        right: 15px;
      
    }
        ul .ul-key {
        gap: 0 6px;
    }
    .home_enterprise_box .tit {
        padding: 30px 15px 80px;

    }
    .home_industry .home_industry_top:before {
        top: -65%;
        left: 0;
        width: 142px;
        height: 175px;
        background-size: cover;
    }
    .home_industry .ser_box .tit h3 {
        width: 70%;
        margin-bottom: 0;
    }
    .home_industry .ser_box .tit .i_number {
        font-size: 4.625rem;
    }
    .small-btn-box a.btn-light {
        position: absolute;
        right: 20px;
        top: 20px;
    }
    .home_industry .home_industry_top {
        padding: 20px 30px 20px 8%;
        width: auto;
        bottom: -110px;
    }
}

@media (max-width: 767px) {
    .matching .project_fx .form-check {
        width: calc((100% - 10px) / 2);
      
    }
    .project_fx .form-check label {
       font-size:0.875rem;
    }
    .matching .project_fx .form-check {
        padding: 0 22px;
        background-color: unset;
    }
    .matching_sear .matching_sear_mid ul   .btn-filter-toggle {
        padding: 8px 8px;
        font-size: 0.875rem;
    
    }
    .matching_sear .matching_sear_mid ul {
        padding: 5px 7px;
        height: auto;
        gap: 0 10px;
    }
    .matching_sear {
        gap: 10px 0px;
        flex-wrap:wrap;
    }
    .matching_sear .input-group {
        width: 100%;
    }
    .matching_sear .matching_sear_mid {
        width: 100%;
    }
    .tit_nsl   a.more_x.more_x_gu {
    }
    .item .tit h3 {
        font-size: 1.25rem;
     
    }
    .tit_nsl ul li{
        font-size:0.75rem;
    }
    .support .new_box a.news-item {
        align-items: center;
    }
    .supp_five .d-flex a {
        width: calc((100% - 20px) / 2);
    }
    .support  .support_box .d-flex {
        margin-top: 20px;
    }
    .support_box .d-flex .support_er {
        width: 100%;
    }
    .prom .indu_box {
        padding: 20px;
        flex-wrap: wrap;
    }
        .prom  .indu_box .pic {
            width: 100%;
            margin-bottom:20px;
        }
        .prom   .indu_box .tit_ind {
            flex: 1 100%;
            padding-left: 0;
        }
    .prom .custom_box  .slick-play-pause-btn,
    .prom .custom_box .custom-arrow {
        width: 32px;
        height: 32px;
        font-size:1rem;
    }
    .prom .custom_box {
        right: 10px;
        top: 15px;
        left: unset;
    }

    .modal-header .btn-close {
        right: -10px;
        width: 40px;
        height: 40px;
    }
    .main-title {
        padding-left: 0;
        text-align: center;
        width: 100%;
    }
    .page-box{
        margin-bottom:30px;
        margin-top:10px!important;
    }
    .contribute_box a {
        flex: 1 100%;
        padding: 10px 10px;
        border-radius: 10px;
    }
    .contribute_box {
        flex-wrap: wrap;
    }
    .contribute .dow_box ul li span {
        width: 97px;
        white-space: nowrap; 
        flex-shrink: 0; 
    }
    .contribute .dow_box ul li a {
        flex: 1;
        min-width: 0; 
        word-break: break-all;
    }
    .video .sele_video > .video-card .pic:before {
        width: 78px;
        height: 72px;
        background-size:cover;
  
    }
    .video .sele_video > .video-card .tit .vdo_Watch   .more_x {
        width: 100%;
        margin-top:20px;
    }
    .video .sele_video > .video-card .tit .vdo_Watch {
        flex-wrap: wrap;
    }

    .video .sele_video > .video-card .tit {
        padding-left: 0;
        margin-top: 20px;
    }
    .video .sele_video > .video-card .pic {
        width: 100%;
      
    }
    .video .sele_video > .video-card {
        padding: 30px;
        flex-wrap:wrap;
    }
    .video .item_video .item_box .ul-key {
        margin-top: 20px;
    }
    .s_meu_lk ul {
        justify-content: center;
    }
    .s_meu_lk ul li a {
        font-size: 1rem;
       
    }

    .project_fx {
        gap: 0 ;
    }
    .project_fx.project_three .form-check {
        width: 100%;
    }

    .menb_inp_box .menb_inp_tit {
        width: 100%;
    }
    .compare-table thead th {
        padding: 5px 10px;
     
    }
    .compare-table tbody th, .compare-table tbody td {
        padding: 10px 10px;

    }
    .compare-table tbody th, .compare-table tbody td {
        white-space: normal;
    }
    .menb_compare_box .compare-table {
        width: 800px!important;
    }
    .menb_compare_box {
        overflow-x: auto;
        white-space: nowrap;
     
    }

    .menb_type {
        margin-bottom: 30px;
    }
    .menb_type_card .card_inner .t_s1 {
        top: -6px;

    }
    .menb_type_item {
        flex: 100%;
        margin-bottom: 0;
    }
    .peer_box {
        margin-bottom: 20px;
    }
    .card-footer a {
        font-size: 0.75rem;
    }
    .step-progress {
        margin-top: 20px;
    }
    .melo_box_right_2 a {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .login a.more_x.more_x_gu {
        margin: 0 auto;
    }
    .melo_box_right {
        margin-top: 30px;
        text-align: center;
        background-color: #f0f7ff;
        padding: 30px;
    }
    .member .frame-small-box {
        padding: 20px;
    }
    .melo_box_left {
        padding-right: 0;
    }

    .melo_box_right,
    .melo_box_left {
        width: 100%;
    }
    .title-wrap_md {
        right: 0;
    }
    .title-wrap .h3_tit {
         text-align: center; 
    }
    .right-viewport {
        width: 85% !important;
    
    }
    .ab_list3 {
        padding: 30px 15px;
    }
    .ab_list3 .tit .h3_tit {
        text-align: center;
    }
    .ab_list3 .tit p {
        font-size: 4rem;
        line-height: 80px;
        text-align: center;
    }
    .ab_list3 .tit {
        position: static;
        transform: unset;
    }
    .ab_list3 .pic {
        max-width: 300px;
    
    }
    .fixed-left {
        display: none!important;
    }
    .ab_list1   .s_round_6 {
      display:none;
    }
    .ab_list1 .tit{
        padding:0 15px;

    }
  
    .ab_list1 {
       padding-top:30px;
    }
   .ab_list1 .tit p {
        width: 100%;
    }
    .ab_list1 .tit {
        position: static;
        transform: unset;
    }
    /*關於我們*/
    .elevator-box {
        top: 15vh;
        transform: translateX(-35px);
    }
    .indicator-pointer {
        top: 12vh;
        left: 20px;
    }
 
    /*關於我們 end*/
    .faq .main .side1 .wid-faq {
        margin-bottom: 20px;
     
    }
    .faq .faq_box .qa_right {
        margin-left: 0;
        padding: 15px;
    }
    .faq .faq_box .accordion-header {
        font-size: 1rem;
      
    }
    .faq .faq_box .accordion-header .num {
        width: 40px;
        height: 40px;
   
    }
    .form-group {
        margin-bottom: 15px;
    }
    .search .form-select, .search .textarea.form-control, .search .input.form-control, .search2 .form-select, .search2 .textarea.form-control, .search2 .input.form-control {
        height: auto;
  
    }
    .form-select, textarea.form-control, input.form-control {
        height: auto;
    }
    .search2 .btn_a {
        width: 120px;
        height: 37px;
    }
    .faq .main .content,
    .faq .main .side1 {
        width: 100%;
    }
    body:not(.home) .s_round_3 {
        width: 25%;
        top: 0;
        display:none;
    }
    .error_title {
        font-size: 2rem;
  
    }
    .error_wrap_top img {
        width: 250px;
       
    }
    .error_content {
        margin: 0 auto 3%;
        text-align: center;
        padding: 40px 20px;
    }
    .more_x.more_x_767 {
        margin: 0 auto 40px;
    }
    .dow-name {
        margin-bottom: 20px;
    }
    .dow_box ul li span {
        width: 67px;
    }
    .dow_box ul li a{
        flex:1;

    }
    .dow_box ul li a,
    .dow_box ul li {
        font-size: 0.875rem;
    }


    .dow_t ul li + li {
        padding-top: 10px;
        margin-top: 10px;
    }
        .dow-name i {
        font-size: 1.5rem;
    }
    .dow-name span {
        font-size:1.5rem;
  
    }
    .Contributor {
        margin: 20px 0 20px;
    }
    .share ul li a img{
        width:22px;
        height:27px;
    }
    .news.show .tit_three .date, .share ul li {
        font-size: 0.875rem;
    }
    .news.show .tit_three {
        padding-bottom: 0;
    }
    .news.show .column_box .tit h3 {
        font-size: 1.5rem;
        margin-top: 20px;
    }
    .matching.show .breadcrumb,
    .news.show .breadcrumb {
        margin-top: 60px;
    }
    .breadcrumb {
        padding: 20px 5% 0px;
    }
    body .main .side1 .nav > li a {
        font-size: 0.875rem;
        padding: 7px 9px;
    }
    .side1 .side1_news ul li a {
        padding: 10px 15px !important;
    }
    .slick-dots li button {
        padding: 4px;
  
    }
    .banner_section .slick-dots {
        text-align: center;
        right: 0;
        bottom: -29px;
    }
  
    .banner .slick-play-pause-btn {
        width: 32px;
        height: 32px;
        font-size: 1rem;
        bottom: -28%;
    }
    .banner_section .custom-prev {
        left: 0;

    }
    .banner_section .custom-next {
        right: 0;
    
    }

    .banner_section .custom-arrow {
        width: 42px;
        height: 42px;
        background-size:50%;
    }
    .main .content, .main .side2 {
        margin-top: 5px;
    }
    .search .d-flex .btn_a {
        width: 100%;
        margin-top: 20px;
    }
    .search .d-flex{
        flex-wrap:wrap;
    }
        .search .d-flex   .input-group,
        .search .d-flex .form-group {
            width: 100%;
        }

    .sitemap_box .nav_blocks_row .nav_block_item {
        padding: 4px 0;
    }

    .marquee-bg {
        top: 49%;
        transform: translateY(-36%);
    }



        .marquee-track span {
            font-size: 3rem;
        }

    .section-title-wrap {
        padding: 90px 0 30px;
        flex-wrap: wrap;
    }
    .s_meu_lk {
        position: static;
        width: 100%;
        margin-top: 20px;
    }
    .header_content {
        width: 100%;
    
    }

 

    .card_header {
        flex-wrap: wrap;
    }
    .sitemap_box .sitemap_card .icon_wrap i {
        margin: 0 auto 20px;
    }

    .sitemap_box .sitemap_card .icon_wrap {
        width: 100%;
    }
    .more_x {
        height: 50px;
        padding: 0 14px;

 
    }
    .more_x span {
        font-size: 0.875rem;
    }
    .ser_box{
        position:relative;
    }
    .custom_box.custom_box_sm  {
        left: 0;
        position: relative;
    }
    .home_service  .custom_box.custom_box_sm .custom-next,
    .home_service .custom_box.custom_box_sm .custom-prev {
        transform: translateY(650%);
    }
    .home_service .custom_box.custom_box_sm .custom-next{
        right:-25px;
    }
    .home_service .custom_box.custom_box_sm .custom-prev {
        left: -25px;
    }
    .custom_box.custom_box_sm .custom-prev {
        position: absolute;
        left: -15px;
        top: 0;
        transform: translateY(200%);
        width: 32px;
        height: 32px;
        background-size: 50%;
    }
    .custom_box.custom_box_sm .custom-next {
        position: absolute;
        right: -15px;
        top: 0;
        transform: translateY(200%);
        width: 32px;
        height: 32px;
        background-size: 50%;
    }

    .home_industry .ser_box .tit .d-flex {
        margin-bottom: 20px;
    }
    .loading .loadLogo {
        width: 300px;
     
    }
    .sub_tag,
    h2.h2 {
        text-align: center;
    }
    .footer .footer-top .footer_left .tit .h3 {
    margin-bottom: 12px;
    font-size: 1.25rem;
 
}
    .copyright-group {
        width: 100%;
        text-align: left;
    }
    .footer-bottom {
        gap: 20px 0;
        flex-wrap: wrap;
    }
    .footer-title {
        margin-bottom: 5px;
   
    }
    .footer-contact {
        flex: unset;
        width: 100%;
    }
    .footer-links {
        flex: unset;
        max-width: max-content;
        width: 100%;
    }
    .footer-main {
        gap: 20px 0;
        margin-bottom: 20px;
    }
    .footer .footer_content {
        padding: 40px 0;

    }
    .footer .footer-top {
        background: url(../images/all/footer_bg_sm.svg) no-repeat center;
        padding: 60px 20px 40px;
        background-size:cover;
    }
    .footer .footer-top .footer_left .tit {
        width: 100%;
        flex: 1;
        padding-left: 0;
    }
    .footer .footer-top .footer_left {
        flex-wrap: wrap;
    }
        .footer .footer-top .footer_left .pic img{
            margin:0 auto;
        }
        .footer .footer-top .footer_left .pic {
            width: 100%;
        }
    .footer .footer-top .footer_right .input-group, 
    .footer .footer-top .footer_right .form-group {
        width: 100%;
    }
    .footer .footer-top .footer_right {
        gap: 15px 0;
        flex-wrap: wrap;
    }
    .btn_a {
        width: 100%;
    }
    .home_video h2.h2 {
        margin-bottom: 10px;
    }
    .home_video .more_x {
        margin: 30px auto 0;
    }
    .home_video_section .custom_box {
        position: static;
        margin: 20px auto 0;
        justify-content: center;
    }

    .home_enterprise_box .tit .tag-wrap > span {
        top: -11px;
        left: 15px;
        font-size: 0.875rem;
        padding: 5px 12px;
    }
    .home_enterprise_box .tit {
        width: 100%;
        padding: 20px 15px 70px;
    }
    .home_enterprise_box .d-flex {
        flex-wrap: wrap;
        gap: 20px 0;
    }
    .home_enterprise .more_x {
        position: static;
        margin: 30px auto 0;
    }
    .home_industry  .ser_box .pic {
        margin-top: 20px;
    }
    .home_industry .home_industry_top:before {
        top: -45%;
        width: 62px;
        height: 85px;
    }


    .home_industry .home_industry_box {
        padding: 120px 5% 90px;
    }
    .custom_box {
        left: 14px;
                position: relative;
    }
    .round_3 {
        width: 50%;
    }
    .ser_box .d-flex{
        flex-wrap:wrap;
    }
    .ser_box .tit {
        width: 100%;
        padding-left: 0;
    }

    .ser_box .pic {
        width: 100%;
    }
    .home_service ul.nav-pills {
        gap: 15px 15px;
   
    }
        .home_service ul.nav-pills li {
            width: calc((100% - 15px) / 2);
            flex: unset;
        }
    h2.h2 {
        margin-bottom: 0;
    }
    .home_service ul.nav-pills .nav-link .d-flex i img {
        width: 60%;
    }
    .new_box {
        min-height: 590px;
    }
    .round_1 {
        left: -11%;
        bottom: -110%;
        width: 29%;
    }
    .tag-wrap .badge-tag {
        font-size: 0.875rem;
        padding: 3px 9px;

    }
    .new_box .news-content .desc {
        white-space: unset;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    .home_news .news-content {
        padding: 0 0 0 20px;
    }
    .home_news   .news-arrow {
        width: 30px;
        height: 30px;
        display: none;
    }
    .new_box .news-date {
        min-width: 70px;
        padding-right: 20px;
    }
    .new_box .news-content .title {
        white-space: unset;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    .news-arrow img{
        width:50%;

    }
    .news-arrow {
        width: 30px;
        height: 30px;
    }
    .new_box .news-date .year-month {
        font-size: 0.875rem;
        margin-top: 0;
    }
    .new_box .news-date .day {
        font-size: 3rem;
    }
    .new_box a.news-item + a.news-item {
        padding-top: 30px;
        margin-top: 10px;
    }

    .new_box a.news-item {
        padding: 14px 10px;
        flex-wrap: wrap;
        align-items: stretch;
    }
    ul.nav-pills .nav-link {
        font-size: 1.125rem;
    }
    .home_about .fade-box span {
        font-size: 4rem;
      
    }
    .home_about .more_x {
        margin: 30px auto;
    }
    .home_about .fade-box {
        width: calc((100% - 20px) / 2);
    }
    .home_about .tit_right .d-flex {
        flex-wrap: wrap;
        gap:  20px
    }
    .fancybox__content > .f-button.is-close-btn {
        right: -14px !important;
        width: 40px;
        height: 40px;
    }
    .Fancy_home {
        width: 90%;
        padding: 5px;
    }
    .home_about {
        flex-wrap: wrap;

    }
    .home_about .tit_right {
        width: 100%;
        
    }
    .home_about .tit_left {
        flex: 100%;
        padding-right: 0;
   
    }
    .home .banner_home .item h2 {
        font-size: 4rem;
    }
    .home .banner_home .item {
        padding: 0 15px;
    }
    .home .banner_home .item p span {
        display: unset;
    }
    .home .banner_home .item p {
        text-align: left;
    }
    .home .banner_home .item ul li a i {
        width: 22px;
        height: 22px;
        font-size: 0.7rem;
    }
        .home .banner_home .item ul li a {
            min-width: 147px;
            height: 50px;
            padding: 0 15px;
            letter-spacing: 0;
        }
    .home .banner_home .pic .pic_box .Light_3,
    .home .banner_home .pic .pic_box .Light_2,
    .home .banner_home .pic .pic_box .Light_1{
        display:none;
    }
    .home .banner_home .pic img {
        margin: 0 auto;
        height: 500px;
        width: 100%;
        position: relative;
        overflow: hidden;
        object-fit: cover;
        object-position: center bottom;
        margin-bottom: -50px;
    }
    .navbar-nav .dropdown-submenu a {
        font-size: 0.9375rem;
        padding: 10px 0;
   
    }
    .navbar-nav .nav-item .dropdown-menu.show li ul li a{
        padding:2px 0;
    }
    .navbar-nav .nav-item .dropdown-menu.show li ul {
        padding: 0 15px !important;
        margin-top:-5px;
        margin-bottom:5px;
    }
    .navbar-nav .nav-item .dropdown-menu.show {
        padding: 10px 20px !important;
    }
    .navbar-nav .dropdown-menu.show li ul li {
        border-bottom: none;
    }
    .navbar-nav .dropdown-menu.show li ul{
        padding:5px 0;
    }
    .navbar-nav .dropdown-menu.show li {
        border-bottom: 1px solid #a09f9f;
    }
        .navbar-nav .dropdown-menu.show li:last-child {
            border-bottom: none;
        }
    .navbar-nav .dropdown-menu .dropdown-menu {
        display: block !important;
        position: static !important;
        float: none !important;
        box-shadow: none !important;
        border: none !important;
        padding: 0 10px;
        background-color: transparent;
    }


    .navbar-nav .dropdown-menu .dropdown-toggle::after {
        display: none !important;
    }
    .navbar-nav .dropdown-submenu > .dropdown-menu {
        position: static;
   
    }
    .bsnav-mobile .navbar-nav .nav-item .nav-link:after {
        right: 0;
        position: absolute;
        top: 50%;
    }
    .bsnav-mobile .navbar-nav .nav-item .nav-link {
        border-bottom: solid 1px #cecece4f;
        color: #fff;
    }
    .bsnavclose.close-btn {
        right: 10px;
   
    }
    .bsnavclose img {
        width: 20px;
        height: 20px;
    }
    .bsnav-mobile .navbar-nav {
        height: 100%;
       padding-top:30px;
    }
    .header .bsnav-mobile .navbar {
        background: linear-gradient(279deg, rgba(4, 109, 220, 1) 0%, rgba(3, 152, 185, 1) 100%);
        width: 80%;
    }
    .header .navbar {
        padding: 10px 15px;
    }

        .small-btn-box a.btn-light {
            font-size: 0.75rem;
            padding: 8px 10px;
        }
    .small-btn-box a.btn-light {
        right: 60px;
        top: 50%;
        transform: translateY(-50%);
        margin-left: 0;
    }
        .header .navbar > .container-fluid {
            flex-wrap: unset;
         
        }
        .navbar .navbar-brand {
            margin: 0px 0;
            width: 147px;
            height: 40px;
        }
        .course-info-card .info-row {
            flex-direction: column;
            align-items: flex-start;
            padding: 10px 12px;
        }

        .course-info-card .info-term {
            width: 100%;
            margin-bottom: 4px;
            font-size: 0.95rem;
        }

        .course-info-card .info-desc {
            width: 100%;
            padding-left: 26px;
            font-size: 0.95rem;
        }

        /*智慧技術*/
    .collapse-body {
        padding:  0;
    }
        .collapse-body .project_fx {
            gap:0 !important;
        }

        .sm_techn {
            flex-direction: column;
            min-height: auto;
        }
            .sm_techn .sm_techn_left {
                width: auto;
            }

        .sm_techn_left {
            width: 100%;
            flex-direction: row;
            overflow-x: auto;
            white-space: nowrap;
            border-right: none;
            border-bottom: 2px solid #e2e8f0;
            -webkit-overflow-scrolling: touch;
        }


            .sm_techn_left::-webkit-scrollbar {
                display: none;
            }

        .sm_techn_left {
            -ms-overflow-style: none;
            scrollbar-width: none;
        }


            .sm_techn_left .tab-btn {
                flex: 0 0 auto;
                width: auto;
                padding: 7px 13px;
                border-bottom: none;
            }


                .sm_techn_left .tab-btn.active {
                    border-left: none;
                    border-bottom: 3px solid #ea580c;
                    background-color: #fff;
                }


                .sm_techn_left .tab-btn .arrow-icon {
                    display: none;
                }


        .sm_techn_right {
            padding: 16px 12px;
        }


        .project_fx .form-check {
            padding: 8px 0 8px 2.2rem;
            margin-bottom: 0;
        }

     

        .form-check-label {
            font-size: 1rem;
            cursor: pointer;
        }
    .dow-prove .dow-prove_1 i {
        font-size: 2rem;
    
    }
    .dow-prove .dow-prove_1 a {
        padding: 22px 10px;
        height: 100%;
    }
    .dow-document .tit_dow {
        width: 100%;
    
    }
    .review_box label {
        width: 160px;
    }
    .review_box .review_box_r span {
        font-size: 1rem;
    }
    .review_box {
        margin-bottom: 20px;
    
    }
    .checkbox {
        font-size: 0.875rem;
       
    }
    .tit_dow .files .upl_tit {
        flex-wrap: wrap;
    }
    .tit_dow .btn-outline-danger {
     
        margin-top: 10px;
    }

        /*智慧技術*/
    }

    @media (max-width: 425px) {
    }