<?xml version="1.0" encoding="UTF-8"?>
<xml id="edit008" type="editor">
  <ccategory>內文樣板</ccategory>
  <title>內文+圖片樣版24</title>
  <description>
    上圖下文
  </description>
  <img id="thumb" src="thumb24.jpg"/>
  <assets>
    <file id="control" href="editor.html"/>
    <file id="css" href="style.css"/>
  </assets>
</xml>
