<?xml version="1.0" encoding="UTF-8"?>
<xml id="edit008" type="editor">
  <ccategory>表格</ccategory>
  <title>表格樣版8</title>
  <description>
    條列式表格，典雅綠色系漸層系列
  </description>  
  <img id="thumb" src="tp8.gif"/>
  <assets>
    <file id="control" href="editor.html"/>
    <file id="css" href="style.css"/>
  </assets>
</xml>