/* -----------------------------   essentials.css ---------------------------   */

/*4324*/
.editor section.edit_t014 div.alert {
	border-left-color:rgba(0,0,0,0.1);
	border-width:1px;
	border-left-width:5px;
}
.editor section.edit_t014 div.alert-default {
	background-color:rgba(0,0,0,0.1);
}


