/* CSS Document */

 body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

ol.example{  
    background-color:white;
	overflow:auto;
	width:95%;
	height:600px;	
	list-style-position:outside;
	list-style-type:disc ;	  
    margin:0px;
}

ol.example li {
  margin:5px; 
  border:solid;
  border-width:2px;
  border-color:silver;
  cursor:pointer;
  list-style-type:none;
  float:left;
  width:204px;
  height:234px;
  text-align:center;
  vertical-align:middle;
  overflow:hidden;
}

ol.example li img {
    width:200px;
    height:160px;
}

ol.example li.placeholder {
  position: relative;  
  border:solid;
  border-width:1px;
  border-color:silver;
}
ol.example li.placeholder:before {
  position: absolute;  
}