/* CSS Document */

 body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

ol.example{
	overflow:auto;
	width:90%;
	height:500px;	
	list-style-position:outside;
	list-style-type:disc ;
	border:solid;
	border-width:1px;
	border-color:dimgray;
	padding:10px;
}

ol.example li {  
  border:dashed;
  border-width:1px;
  border-color:silver;
  width:150px;
  height:150px;
  cursor:pointer;
  float:left;
  list-style-type:none ;
}

ol.example li.placeholder {
  position: relative;  
  border:solid;
  border-width:1px;
  border-color:silver;
}
ol.example li.placeholder:before {
  position: absolute;  
}