<?xml version="1.0" encoding="UTF-8"?>
<xml id="cat_download" type="widgets">
  <title>分類選單:檔案下載</title>
  <description>
    分類選單:檔案下載
  </description>  
  <img id="thumb" src=""/>
  <assets>
    <file id="control" href="cat_download.ascx"/>
    <file id="cssfile" href="style.css"/>    
  </assets>
  <maintain>
    <version>1.0</version>
    <source></source>
  </maintain>
</xml>