.table-002{
    font-family:"微軟正黑體";
    border-top:1px solid #cfcfcf;
    border-left:1px solid #cfcfcf;
    letter-spacing:1px;
}
.table-002 td,
.table-002 th{
    padding:10px 0;
    border-bottom:1px solid #cfcfcf;
    border-right:1px solid #cfcfcf;
}
.table-002 .t1{
    background:#ff3019;
    background:-moz-linear-gradient(top,#ff3019 0,#cf0404 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ff3019),color-stop(100%,#cf0404));
    background:-webkit-linear-gradient(top,#ff3019 0,#cf0404 100%);
    background:-o-linear-gradient(top,#ff3019 0,#cf0404 100%);
    background:-ms-linear-gradient(top,#ff3019 0,#cf0404 100%);
    background:linear-gradient(to bottom,#ff3019 0,#cf0404 100%);
    color:#fff;
    text-align:center;
    font-size: 1rem;
    font-weight:700;
}
.table-002 tr{
    background:#fff;
    background:-moz-linear-gradient(top,#fff 0,#e5e5e5 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#e5e5e5));
    background:-webkit-linear-gradient(top,#fff 0,#e5e5e5 100%);
    background:-o-linear-gradient(top,#fff 0,#e5e5e5 100%);
    background:-ms-linear-gradient(top,#fff 0,#e5e5e5 100%);
    background:linear-gradient(to bottom,#fff 0,#e5e5e5 100%);
    color:#666;
    text-align:center;
    font-size: 0.875rem;
    padding:10px 0;
}