<?xml version="1.0" encoding="UTF-8"?>
<xml id="edit008" type="editor">
  <ccategory>內文樣版</ccategory>
  <title>內文樣版11</title>
  <description>
    仿時間軸
  </description>
  <img id="thumb" src="thumb12.jpg"/>
  <assets>
    <file id="control" href="editor.html"/>
    <file id="css" href="style.css"/>
  </assets>
</xml>
