:root {
    --main-color: #8ec63f;
    --second-color: #a1c15f;
    --third-color: #C5EBAA;
    --forth-color: #fff4c5;
    --fifth-color: #f4d44d;
    --sixth-color: #4491ab;
    --bs-primary: var(--main-color);
    --bs-secondary: var(--second-color);
    --bs-primary-rgb: 142, 198, 63;
    --bs-secondary-rgb: 161, 193, 95;
}