<?xml version="1.0" encoding="UTF-8"?>
<xml id="edit003" type="editor">
  <ccategory>表格</ccategory>
  <title>表格樣版3</title>
  <description>
    條列式表格，藍綠色與銀色漸層色系
  </description>  
  <img id="thumb" src="tp3.gif"/>
  <assets>
    <file id="control" href="editor.html"/>
    <file id="css" href="style.css"/>
  </assets>
</xml>