
/* -----------------------------   essentials.css ---------------------------   */

/*1810*/
.editor section.edit_t047 blockquote.pull-left {
	max-width:350px;
	padding-right: 20px;
	padding-bottom: 10px;
}
/*1821*/
.editor section.edit_t047 blockquote p {
	margin-bottom:20px;
	position:relative;
}
.editor section.edit_t047 blockquote cite {
	display: block;
	font-size: 0.75em;
	color: #9CA6B4;
}

