<?xml version="1.0" encoding="UTF-8"?>
<xml id="cat_product" type="widgets">
  <title>分類選單:產品</title>
  <description>
    分類選單:產品
  </description>  
  <img id="thumb" src=""/>
  <assets>
    <file id="control" href="cat_product.ascx"/>
    <file id="cssfile" href="style.css"/>    
  </assets>

</xml>