<?xml version="1.0" encoding="UTF-8"?>
<xml id="edit008" type="editor">
  <ccategory>內文樣板</ccategory>
  <title>圖片編排樣板3</title>
  <description>
    小圖 2 列顯示
  </description>
  <img id="thumb" src="thumb03.jpg"/>
  <assets>
    <file id="control" href="editor.html"/>
    <file id="css" href="style.css"/>
  </assets>
</xml>
