/* -----------------------------   essentials.css ---------------------------   */
/*4463*/
.editor section.edit_t011 div.divider {
	margin:40px 0;
	position:relative;
	display:block;
	min-height:20px;
}




