.table-006{
    font-family:"微軟正黑體";
    border-top:1px solid #e8e8e8;
    border-left:1px solid #e8e8e8;
    letter-spacing:1px;
}
.table-006 td,
.table-006 th{
    padding:10px 0;
    border-bottom:1px solid #e8e8e8;
    border-right:1px solid #e8e8e8;
}
.table-006 .t1{
    background:#f3e2c7;
    background:-moz-linear-gradient(top,rgba(243,226,199,1) 0,rgba(193,158,103,1) 50%,rgba(182,141,76,1) 51%,rgba(233,212,179,1) 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(243,226,199,1)),color-stop(50%,rgba(193,158,103,1)),color-stop(51%,rgba(182,141,76,1)),color-stop(100%,rgba(233,212,179,1)));
    background:-webkit-linear-gradient(top,rgba(243,226,199,1) 0,rgba(193,158,103,1) 50%,rgba(182,141,76,1) 51%,rgba(233,212,179,1) 100%);
    background:-o-linear-gradient(top,rgba(243,226,199,1) 0,rgba(193,158,103,1) 50%,rgba(182,141,76,1) 51%,rgba(233,212,179,1) 100%);
    background:-ms-linear-gradient(top,rgba(243,226,199,1) 0,rgba(193,158,103,1) 50%,rgba(182,141,76,1) 51%,rgba(233,212,179,1) 100%);
    background:linear-gradient(to bottom,rgba(243,226,199,1) 0,rgba(193,158,103,1) 50%,rgba(182,141,76,1) 51%,rgba(233,212,179,1) 100%);
    color:#fff;
    text-align:center;
    font-size: 1rem;
    font-weight:700;
}
.table-006 tr:nth-child(even){
    color:#666;
    background-color:#eeecec;
    text-align:center;
    font-size: 0.875rem;
    padding:10px 0;
}
.table-006 tr:nth-child(odd){
    color:#666;
    background-color:#dcd6cf;
    text-align:center;
    font-size: 0.875rem;
}